<div  class="user-post" *ngFor="let userPosts of userPost; let i=index">
<ul>
    <div [hidden]="i>2">
        <li>{{ userPosts.title }}</li>
        <li>{{ userPosts.body }}</li>
        <button (click)="getComments(userPosts.id); toggle(); showSubItem(i+1)">
            comments {{ userPosts.id }}
        </button>
        <div *ngIf="visibleIndex === i+1">
            <span *ngFor="let userComments of userComment | keyvalue">
                <div *ngIf="userComments.value === userPosts.id">
                <ul><li>{{ userComments.key }}</li></ul>
                </div>
            </span>
        </div>
    </div>
</ul>
</div>
<div  class="user-post" *ngFor="let userPosts of userPost; let i=index">
    <ul>
        <div *ngIf="i>2" [hidden]="!showall">
            <li>{{ userPosts.title }}</li>
            <li>{{ userPosts.body }}</li>
            <button (click)="getComments(userPosts.id); toggle(); showSubItem(i+1)">
                comments {{ userPosts.id }}
            </button>
            <div *ngIf="visibleIndex === i+1">
                <span *ngFor="let userComments of userComment | keyvalue">
                    <div *ngIf="userComments.value == userPosts.id">
                    <ul><li>{{ userComments.key }}</li></ul>
                    </div>
                </span>
            </div>
        </div>
    </ul>
</div>
<button class="ShowAllButton" (click)="hiddenButton()">...Show All</button>